.layout-iframe {
  @default-padding: 24px;
  height: 100vh;
  .li-content {
    padding: @default-padding;
    .lic-children {
      padding: @default-padding;
      background: #fff;
      min-height: 100%;
    }
  }
}
