.layout-iframe {
  @default-padding: 24px;
  height: 100%;
  .li-content {
    padding: @default-padding;
    .lic-children {
      padding: @default-padding;
      background: #fff;
      min-height: 100%;
    }
  }
}

.with-border {
  border: 1px solid rgb(235, 237, 240);
}

#etapa-form-body {
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  height: 70vh;
}
